{% extends 'components/base.html' %}
{% load django_app_filters_and_tags %}

{% block main %}

<div class="d-flex flex-wrap justify-content-center">
    {% for item in items %}
    <div class="w-25 m-1">
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>{{ item.title }}</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                </svg>
                <div class="card-body">
                    <h4>{{ item.title }}</h4>
                    <p class="card-text">{{ item.description | custom_cut:10 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'item' item.id %}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                        </a>
                        <div>
                            <p>Comments: {% comment_count item.id %}</p>
                            <p>Rating: {% item_rating item.id %}</p>
                        </div>
                        <small class="text-body-secondary">{{ item.price|digitize_num }} тг.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <strong class="mb-1">Ни одного товара не найдено!</strong>
    {% endfor %}
</div>


{% endblock main %}


